
    .main-nav{
        display: flex;
        justify-content: space-between;
        background-color: blueviolet;
    }

    .nav-brand{
        display: grid;
        justify-content: space-between;
    }

    .nav-toggle{
        display: none;
    }

    .homepageGrid{
        display: grid;
        grid-template-areas: 
        "header1    nav"
        "header2"
        "photo1     photo"
        "main"
        ;
    }

    .petitionGrid{
        display: grid;
        grid-template-areas: 
        "Header"
        "Main"
        "Button"
        ;
    }

    .contactGrid{
        display: grid;
        grid-template-areas: 
        "Header"
        "photo"
        "NameHeader"
        "Main"
        "Button"
        ;
    }

    .placePetitionGrid{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 5rem;
    }

    .placePetitionGrid{
        display: grid;
        grid-template-columns: repeat(auto-fit, 5fr);
        grid-template-rows: repeat(auto-fit, 5fr);
        gap: 3rem;
    }

    .placeHomeGrid{
        display: grid;
        grid-template-columns: repeat(auto-fit, 3fr);
        grid-template-rows: repeat(auto-fit, 3fr);
        gap: 1rem;
    }

    .infoPageGrid{
        display: grid;
        grid-template-areas: 
        "header1    nav"
        "header2    header2"
        "photo1     photo"
        "main"
        ;
    }

    .placeInfoGrid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(250px, 1fr)); 
        gap: 1rem;
    }

    .header1 { 
        flex: 2 2 300px; 
        height: 200px;
        gap: 50px;
       
    }
    
    .photo { 
        flex: 1 1 300px; 
        height: 200px;
        column-gap: 100px;
        gap: 50px;
    }

    .photo1 { 
        flex: 1 1 300px; 
        height: 200px;
        column-gap: 100px;
        gap: 50px;
    }

    ul li a{
        color: bisque;
    }

    ul li a:hover{
        color: black;
    }

    .theme_light{
        background-color: white;
        color: black;
    }

    .theme_dark{
        background-color: black;
        color: white;
    }

    .filter_button{
        margin: 5px;
        padding: 5px 5px;
        font-size: 12px;
    }

    .filter_button:hover{
        background-color: blue;
    }


    /*Phone*/
    @media screen and (max-width:320px){ 
        
        .nav-toggle{
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-self: center;
        flex-direction: column;
        }

        .hamburger{
            background-color: black;
            height: 6px;
            width: 40px;
            padding: 0;
            margin: 3px;
        }

        .nav-menu.hide{
            display: none;
        }

        .nav-menu.show{
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-self: center;
            flex-direction: column;
            height: fit-content;
            width: fit-content;
        }
    }

    /*Tablet*/
    @media screen and (min-width:320px) and (max-width:700px){
        
        .nav-toggle{
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-self: center;
        flex-direction: column;
        }

        .hamburger{
            background-color: blue;
            height: 6px;
            width: 40px;
            padding: 0;
            margin: 3px;
        }

        .nav-menu.hide{
            display: none;
        }

        .nav-menu.show{
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-self: center;
            flex-direction: column;
            height: fit-content;
            width: fit-content;
        }
    }
