
        .flex{
            display: flex;
            flex-direction: row;
        }

        .color_box{
            height: 100px;
            width: 100px;
        }

        #box1{
            background-color: #8693AB;
        }

        #box2{
            background-color: #BDD4E7;
        }

        #box3{
            background-color: #212227;
        }

        #box4{
            background-color: #637074;
        }

        #box5{
            background-color: #AAB9CF;
        }

        /*Bad vision, so need it to be bigger*/
        p{
            font-size: 16px;
        }

        .small_text{
            font-size: 16px;
        }

        h3{
            font-size: 24px;
        }

        h2{
            font-size: 32px;
        }

        h1{
            font-size: 40px;
            color: #BDD4E7;
            margin-bottom: 20px
        }

        /*Find and make the Button option*/
        .button1{
            background-color: #8693AB; /*I don't know how to get the color and border to work*/
            border: 12px solid #212227;
            color: black;
            padding: 16px 24px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .custom-button:hover{
            background-color: #212227;
        }

        .custom-button:active{
            background-color: #BDD4E7;
        }

        /*Make a Link Option as well*/
        a{
            text-decoration: none;
            color:#212227
        }

        a:hover{
            text-decoration: underline;
            color: #8693AB;
        }

        a:visited{
            color: #BDD4E7;
        }

        h1{
            font-size: large;
            color: #BDD4E7;
            margin-bottom: 20px
        }