        html {
            font-family: "Story Script", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

       .flex{
            display: flex;
            flex-direction: row;
        }

        .color_box{
            height: 100px;
            width: 100px;
        }

        #box1{
            background-color: #8693AB;
        }

        #box2{
            background-color: #BDD4E7;
        }

        #box3{
            background-color: #212227;
        }

        #box4{
            background-color: #637074;
        }

        #box5{
            background-color: #AAB9CF;
        }

        /*Bad vision, so need it to be bigger*/
        p{
            font-size: 16px;
            background-color: #514f59;
            color: #e5d4ed;
        }

        .small_text{
            font-size: 16px;
        }

        h3{
            font-size: 24px;
            color: #e5d4ed;
            text-align: center;
        }

        h2{
            font-size: 32px;
            color: #e5d4ed;
            text-align: center;
        }

        h1{
            font-size: 40px; 
            color: #e5d4ed;
            width: 400px; 
            margin: auto;
        }

        /*Find and make the Button option*/
        .button1{
            background-color: #8693AB; /*I don't know how to get the color and border to work*/
            border: 12px solid #212227;
            color: black;
            padding: 16px 24px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .custom-button:hover{
            background-color: #212227;
        }

        .custom-button:active{
            background-color: #BDD4E7;
        }

        /*Make a Link Option as well*/
        a{
            text-decoration: none;
            color:#5941a9
        }

        a:hover{
            text-decoration: underline;
            color: #e5d4ed;
        }

        a:visited{
            color: #6d72c3;
        }

        q{ 
            color: #e5d4ed;
            text-align: center;
        }

        body{
            background-color: #1d1128;
        }

        li{
            color: #e5d4ed;
        }

        section{
            background-color: #514f59;
            width: 500px;
            display: block; 
            margin: auto;
        }

        nav{
            text-align: center;
        }

        div{
            width: 400px;
            display: block;
            margin: auto;
        }
        