*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    position: relative;
    background-color: black;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: darkgray;
    width: 100%;
    height: 60px;
    padding: 0 20px;
}

.searchbox{
    position: relative;
    max-width: 500px;
    width: 50%;
    height: 35px;
    display: flex;
}

.searchbar{
    width: 85%;
    height: 100%;
    border: 2px solid darkgrey;
    padding: 0 20px;
    margin-left: 20px;
}

.searchbtn{
    width: 15%;
    height: 100%;
    background: grey;
    border: 5px solid grey;
    padding: 5px 0;
    margin-left: 10px;
    margin-top: 2px;
}

.video_content{
    width: calc(100% - 250px);
    margin-top: 120px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.video{
    min-height: 250px;
    height: auto;
}

.thumbnail{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.content{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.channel{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.title{
    width: 100%;
    height: 40px;
    color: white;
    margin-bottom: 20px;
}

.channel_name{
    font-size: 14px;
    margin: 2px 0;
    color: white;
}