
html {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  background-color: #42273b;
}

section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

span{
  color: purple;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.h1_say{
  font-size: 42px;
}

.navBar a{
  text-decoration: none;
  font-size: 20px;
  color: #82ddf0;
  margin-right: 15px;
  transition: .3s;
}

.navBar a:hover{
  color: red;
  text-decoration: underline;
}

.navBar a.active{
  text-decoration: underline;
  color: red;
}

.Home{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.Home_Content{
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.Home_content h3{
  font-size: 24px;
  font-weight: 700;
}

.Home_Content h1{
  font-size: 42px;
}

.Home_image img{
  width: 35vw;
  position: relative;
  border-style: square;
  border-radius: 100%;
  display: flex;
  justify-content: right;
}

.About{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: green;
}

.h1_About{
  font-size: 42px;
  align-items: center;
}

.About_img img{
  width: 35rem;
  border-style: groove;
}

.Projects{
  background-color: blueviolet;
}

.Project_content{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  align-items: center;
  gap: 2rem;
}

.Project_content .Project_Pictures{
  position: relative;
  border-radius: 25%;
  overflow: hidden;
  display: flex;
}

.Project_Pictures img{
  width: 100%;
  transition: 1s ease;
}

.Project_Pictures:hover img{
  transform: scale(1.5);
}

.Project_Pictures .Project_Description{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 255, 0, 99));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transform: translateY(100%);
  transition: 1s ease;
}

.Project_Pictures:hover .Project_Description{
  transform: translateY(0);

}

