
body{
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

input{
    margin: 20px;
    border-radius: 20px;
    width: 20rem;
    height: 2rem;
    text-align: left;
}

button{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    width: 250px;
    height: 30px;
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    .movie-card {
        width: calc(33.33% - 20px);
    }
}

@media screen and (max-width: 800px) {
    .movie-card {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 600px) {
    .movie-card {
        width: calc(100% - 20px);
    }
}