
body{
    background-color: black;
}

header{
    display: flex;
    text-align: center;
    justify-content: center;
}

section{
    top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: white;
}

main{
    background-color: white;
    width: 500px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 18px 10px;
}

article{
    display: flex;
    align-items: center;
    border: 2px solid white;
}

article:hover{
    border: 2px solid red;
    border-radius: 8px;
}

h4{
    color: black;
}

p{
    color: grey;
}

.container{
    width: 500px;
    height: max-content;
    background-color: white;
    margin: 0 auto;
}

.logo{
    color: red;
    padding: 10px;
}

.thumb{
    height: 100px;
}

@media screen and (max-width: 1200px) {
    .movie-card {
        width: calc(33.33% - 20px);
    }
}

@media screen and (max-width: 800px) {
    .movie-card {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 600px) {
    .movie-card {
        width: calc(100% - 20px);
    }
}